
{% extends "base.html" %}
{% block content %}

    <div class="col-lg-6">  
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for m in messages %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% if posts %}          
        {% for p in posts %}
        <h4>{{p.user}}</h4>
        <p>{{p.message}}</p>
        {% endfor%}
    {% else %}
     	<h4>No messages to display</h4>
    {% endif %}
    
    </div>
{% endblock %}